---
import TestReact from '../components/TestReact.jsx';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <title>Prueba React</title>
  </head>
  <body>
    <h1>Astro + React</h1>
	<h1 class="text-4xl font-bold text-blue-600">Tailwind v4 funcionando</h1>
    <TestReact client:load />
  </body>
</html>
